
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#data {
    width: 80%;
    text-align: center;
    margin: 2em auto;
    height: 200px;
    overflow: auto;
    background-color: rgb(231, 231, 231);
}

@media only screen and (max-width: 480px){
    #data {
        width: 100%;
        overflow-y: auto;
    }
}

.container {
    width: 400px;
    margin: 3em auto;
}

#table {
    margin-bottom: 30px;
}


table {
    width: 80%;
    border: 1px solid #CCC;
    border-spacing: 0;
    margin: 3em auto;
}

@media only screen and (max-width: 480px){
    table {
        width: 100%;
    }
}

table tr th, table tr td {
    text-align: center;
    border: 1px solid #CCC;
    padding: 16px;
}

table tr th {
    background-color: black;
    color: white;
    cursor: pointer;
}

input[type="button"], button {
	transition: all .3s;
    border: 1px solid #ddd;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    
}

.create-btn {
    width: 100%;
}

@media only screen and (max-width: 480px){
    .create-btn {
        width: 90%;
    }
}

input[type="button"]:not(.active) {
	background-color:transparent;
}

.active {
	background-color: #000;
	color :#fff;
}

input[type="button"]:hover:not(.active) {
    background-color: #ddd;
}

#buttons {
    width: 80%;
    margin: 2em auto;
}

@media only screen and (max-width: 480px){
    #buttons {
        width: 100%;
    }
}